# Naukri Credentials
NAUKRI_USERNAME='your_email@example.com'
NAUKRI_PASSWORD='your_password'

# Optional: Manual Browser Path
# WEB_BROWSER_PATH='C:\Program Files\Google\Chrome\Application\chrome.exe'
